@{
    ViewBag.Title = "Configuration";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @TempData["data"]
            <small>Configuration screen</small>
        </h1>
    </section>
</div>