@{
    ViewBag.Title = "Visitor Access Pass";
}


<div class="dashboard-area">
    <!-- Dashboard Title -->
    <div class="row dashboard-service-description dashboard-cards">
        <h3 class="input-label-color dashboard-title">Visitor Pass System</h3>
        <div class="dashboard-description">
            <article></article>
        </div>
    </div>
</div>
