@model VisitorNameViewModel
@using (Html.BeginCollectionItem("Visitors"))
{
    <tr>
        <td>
            <div class="col-md-4">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Visitor" } })
            </div>
        </td>
    </tr>
}